<?xml version="1.0" encoding="utf-8"?>  
<configuration>  
  <connectionStrings>
    <add name="SmartTrackConnection" 
         connectionString="Server=.;Database=SmartTrack;User Id=sa;Password=123;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.webServer>  
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>
    <rewrite>  
      <rules>  
        <rule name="NodeJs" stopProcessing="true">  
          <match url=".*" />  
          <conditions>  
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />  
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />  
          </conditions>  
          <action type="Rewrite" url="server.js" />  
        </rule>  
      </rules>  
    </rewrite>  

    <iisnode loggingEnabled="true" logDirectory="iisnode" devErrorsEnabled="true" />
  </system.webServer>  
</configuration>
