/***********Body Css***********/

body {
}

/***********Body Css***********/

/***********Profile Css***********/

#changePassword{
    margin-top: 120px;
}

#changePassword > h2{
    font-size: 50px;
}
#changePasswordForm{
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}
#changePasswordForm .userInfoRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#changePasswordForm .userInfoRow .formControl{
    display: flex;
    flex-direction: column;
    width: 70%;
}
#changePasswordForm button {
    width: 120px;
    font-size: 22px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/***********Profile Css***********/

/***********Confirmation Message Css***********/

#confirmationMessage{
    display: none; 
    color: green; 
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: unset;
    border: unset;
}

/***********Confirmation Message Css***********/